*{
    /* width: 100%; */
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.header{
    height: 80px;
    width: 100%;
    border-radius: 2px;
    background-color: aquamarine;
}
.header h1{
    color: #000;
    margin-left: 40%;
    padding-top: 10px;
}
.header p{
    color: #000;
    margin-left: 38%;
    padding-top: 10px;
}
#qaone{
    display: flex;
    flex-direction: column;
}
#qaone p{
    color: #fff;
    font-size: 20px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.qaone img{
    width: 900px;
    height: 500px;
    margin-left: 15%;
}
footer iframe{
    width: 900px;
    height: 500px;
    margin-left: 150px;
}
footer p{
    color: #fff;
    margin-left: 41%;
    margin-bottom: 20px;
}
footer h4{
    color: #fff;
    margin-left: 40%;
    margin-top: 20px;
}
h1{
    color: #fff;
    margin-left: 40%;
    margin-top: 20px;
}