* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Header Styles */
.header {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: aquamarine;
}

.header h1 {
    color: #000;
    font-size: 24px;
}

.header p {
    color: #000;
    font-size: 18px;
}

/* Question & Answer Section */
#qaone {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#qaone p {
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}

.qaone img {
    width: 90%;
    height: auto;
    max-width: 900px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
}

footer iframe {
    width: 90%;
    height: 300px;
    max-width: 900px;
}

footer p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

footer h4 {
    color: #fff;
    font-size: 18px;
}

/* Responsive Styles for Mobile */
@media screen and (max-width: 768px) {
    .header h1 {
        font-size: 20px;
    }

    .header p {
        font-size: 16px;
    }

    #qaone p {
        font-size: 16px;
        margin-left: 0;
    }

    .qaone img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    footer iframe {
        width: 100%;
        height: 250px;
    }

    footer p,
    footer h4 {
        font-size: 16px;
        margin-left: 0;
    }

    h1 {
        font-size: 20px;
        text-align: center;
        margin-left: 0;
    }
}
